<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Calculator Vue</title>
    </head>
    <body>
        <div id = "app">
            Hasil : {{ hasil }}<br>
            <input v-model="angka1" type="number">
            <input v-model="angka2" type="number"><br>
            <button @click ="hasil=angka1+angka2">+</button>
            <button v-on:click ="hasil=angka1-angka2">-</button>
            <button v-on:click ="hasil=angka1*angka2">*</button>
            <button v-on:click ="hasil=angka1/angka2">/</button>
            <br>
        </div>
    </body>
</html>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    const app = Vue.createApp({
        data(){
            return{
                hasil: 0,
                angka1: 0,
                angka2: 0
            }
        }
    })
    app.mount('#app')
</script>