* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav {
    background-color: #fff !important;
}
.btn {
    border-radius: 25px !important;
    padding-right: 10%;
}
.navbar {
    padding-left: 10% !important;
    background-color: #fff !important;
    --bs-bg-opacity: 0 !important;
    display: flex;
}
.navbar-nav {
    display: inline-block !important;
}
li.nav-item.dropdown {
    list-style: none;
    display: inline-block !important;
}
.navbar-brand {
    font-weight: 700;
    font-size: 30px !important;
}
.nav-item {
    font-weight: 600;
}
.btn {
    font-size: 16px;
    font-weight: 600 !important;
    --bs-btn-padding-x: 1rem !important;
}
.language-contact {
    display: flex;
    padding-right: 11%;
}
.nav-item {
    padding: 0 10px;
}
.container-fluid-atas {
    display: flex;
    padding: 5px 10px;
    background-color: #4d77db;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.container-fluid-atas p {
    margin-top: 1rem !important;
}
.location {
    display: flex;
    justify-content: flex-start;
    padding-left: 10% !important;
    align-items: center;
}
.contact-email {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 50%;
    padding-right: 10% !important;
    overflow: auto;
}
.contact {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    flex-shrink: 0;
    max-width: 20%;
    padding-right: 7% !important;
}
.contact, .email {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.contact img, .email img {
  margin-right: 0.5rem;
}
.location p, .email p,
.contact p {
  white-space: nowrap;
  font-weight: 500;
  padding-left: 6% !important;
}
.col {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.text {
    padding-top: 100px;
    padding-bottom: 15% !important;
}
.col h1 {
    font-family: serif;
    font-size: 57px;
    line-height: 1.0;
    text-align: justify;
    max-width: 72%;
    font-weight: bold;
}
.col h3 {
    padding-top: 16px;
    font-family: sans-serif;
    max-width: 72%;
    text-align: justify;
}
.col img {
    max-width: 100%;
    max-height: auto;
}
.col button {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 700;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-bawah {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 20px;
    font-weight: 700;
    opacity: 0.75;
    white-space: nowrap;
}
.p-3 {
    margin: 0;
}
.image {
    padding-left: 3% !important;
    padding-top: 3% !important;
}